/* ===================================================================================
 *
 * Datepicker with style and language customized to any language!
 * Custom Example - Language Portuguese (Brazil) and orange theme
 * Visit: http://materializecss.com/ 
 * 
 * Author: Frederico S. Rocha
 * Contact: @fredsrocha
 * License: The MIT License (MIT)
 *
 * ===================================================================================
 */

.container {
    background: rgba(97, 187, 70, 0.2);
    padding: 0 10px 10px 10px;
}

footer.page-footer,
footer.page-footer .footer-copyright {
    background: transparent;
}

.picker {
    outline: none;
}


/* Optional feature */


/* Header - Day of the week */

.picker__weekday-display {
    background-color: rgb(236, 30, 30);
    font-weight: 600;
}


/* Body - Today info */

.picker__date-display {
    background-color: rgb(121, 134, 203);
}


/* Buttons of actions */

.picker__nav--prev:hover {
    background-color: #fff3e0;
}

.picker__nav--next:hover {
    background-color: #fff3e0;
}

.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #0F74BD;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #0F74BD;
}

.picker__today {
    color: rgb(121, 134, 203);
}

.picker__clear {
    /* If you want to customize */
}

.picker__close {
    color: #ee6e73;
}

.btn-flat.picker__today:active {
    background-color: #fff3e0;
}

.btn-flat.picker__close:active {
    background-color: #fff3e0;
}

.btn-flat.picker__clear:active {
    background-color: #fff3e0;
}


/* Select months of the year */

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}


/* Every month of the year except: today */

.picker__day {
    /* If you want to customize */
}

.picker__day:hover {
    /* If you want to customize */
}

.picker__day--infocus:hover {
    color: #f57c00;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    color: #F5F4F3;
    font-weight: 700;
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
    color: #f57c00;
}


/* Today */

.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
}

.picker__day.picker__day--today {
    color: #4DB848;
    font-weight: 700;
}

html,
body {
    font-family: "Nokora";
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4DB848;
    -webkit-box-shadow: 0 1px 0 0 #4DB848;
    box-shadow: 0 1px 0 0 #4DB848;
}

.prefix.active,
.input-field .prefix.active,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #4DB848;
}

.input-field label {
    color: rgba(0, 0, 0, 0.87);
}

.prefix.rejected {
    color: #ee6e73;
    background-color: #ee6e73;
}

nav.nav,
div.footer-wrapper {
    background-color: #4DB848;
    box-shadow: none;
}

div.footer-copyright {
    padding: 0 10px;
}

footer.page-footer {
    margin: 0 auto;
    padding-top: 0;
}

ul.side-nav {
    background-color: #f5f5f5;
    border: 1px solid #EEE;
    color: #4DB848;
}

table.responsive-table thead tr th,
table tbody tr td {
    padding: 5px;
}

ul.pagination {
    padding: 0;
    margin: 0;
}

table.highlight thead tr:nth-child(1) th,
table.highlight thead tr:nth-child(2) th {
    padding: 8px 5px;
}

table.highlight thead tr th {
    text-align: center;
    width: 10.11%;
}

table.highlight thead tr:nth-child(2) th:nth-child(1) {
    width: 2%;
}

table.highlight thead tr:nth-child(2) th:nth-child(3) {
    width: 8%;
}

table.highlight thead tr:nth-child(2) th:nth-child(4) {
    width: 9%;
}

table.highlight thead tr:nth-child(2) th:nth-child(7) {
    width: 6%;
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 30%;
}

table.highlight thead tr:nth-child(2) th:nth-child(8) {
    width: 9%;
}

table.highlight thead tr:nth-child(2) td label,
[type="checkbox"]+label {
    color: rgba(0, 0, 0, 0.87);
    height: 16px;
}

table.highlight tbody tr td:nth-child(3) {
    text-align: right;
}

table.highlight thead tr:nth-child(2) th:nth-child(1) {
    text-align: right;
}

table.highlight tfoot tr td:last-child {
    text-align: center;
}

.centered {
    text-align: center;
}

.card .card-title {
    font-size: 2rem;
}

table.highlight tbody tr td.detail {
    cursor: pointer;
}

table.responsive-table tbody tr td.detail:hover {
    text-decoration: underline;
    color: red;
}

.progress {
    background-color: #F2B01D;
}

.progress .indeterminate,
.btn {
    background-color: #4DB848;
    padding: 0 1rem;
}

.btn:hover {
    background-color: #88BB43;
}

.prefix.cancel {
    color: #ee6e73;
}

.autocomplete-content {
    position: absolute;
}

div.in-progress {
    color: #F2B01D;
}

div.approved,
.approved {
    color: #4DB848;
}

div.rejected,
.rejected {
    color: #ee6e73;
}

.material-tooltip .backdrop {
    background-color: rgba(242, 176, 29, .9);
    padding: 8px 5px;
}

.btn-excel {
    color: #4DB848;
}

.dropdown-content li {
    min-height: 30px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 5px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: rgba(0, 0, 0, 0.87);
}

.dropdown-content li:hover {
    background: transparent;
    color: #4DB848;
}

.dropdown-content li:hover span {
    color: #4DB848;
}

.dropdown-content li:hover a {
    color: #4DB848;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border: 1px solid #4DB848;
}

.btn-pdf,
span.caret {
    color: #ee6e73 !important;
}

ul.dropdown-content li.active span {
    color: #4DB848;
}

table tr td.label {
    font-weight: bold;
    color: #4DB848;
}

table tr td.data {
    color: #FFFFFF;
}

table thead tr:nth-child(2) {
    background: rgba(97, 187, 70, 0.5);
    color: #ee6e73;
}

table tbody tr.not-ready {
    font-weight: bold;
}

ul li.badge-message:hover,
ul li.badge-message a:hover {
    background: transparent;
}

select.browser-default {
    background: transparent;
    border: 1px solid rgba(97, 187, 70, 0.5);
}

input#beginDate,
input#endDate {
    border-bottom: 1px solid rgba(97, 187, 70, 0.5);
}

.input-field label.active {
    font-size: 1rem;
}

div.nav-wrapper .brand-logo {
    padding: 0 8px;
}

input[name="buildDate"]:focus.invalid~label:after,
input[name="buildDate"].invalid~label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

input[name="buildDate"]:focus~label:after,
input[name="buildDate"]~label:after {
    display: block;
    content: "";
    position: absolute;
    top: 36px;
    opacity: 0;
    white-space: pre;
    transition: .2s opacity ease-out, .2s color ease-out;
}

input[type=text].invalid~label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    position: absolute;
    top: 3em;
    white-space: nowrap;
    display: block;
}

@media only screen and (min-width:1360px) {
    .container {
        width: 80%;
    }
}